  
  @keyframes body-dance {
    50% {
      transform: translateY(-6px);
    }
  }
  
  @keyframes head-dance {
    25% {
      transform: scale(1.05) rotate(-2deg);
    }
    50% {
      transform: scale(1) rotate(0);
    }
    75% {
      transform: scale(1.05) rotate(2deg);
    }
  }
  
  @keyframes jaw-dance {
    50% {
      transform: translateY(4px);
    }
  }